aioquic
allure-pytest
allure-python-commons
Appium-Python-Client
argon2-cffi
argon2-cffi-bindings
asgiref
async-generator
attrs
bcrypt
blinker
brotli
certifi
cffi
charset-normalizer
click
cryptography
execnet
Faker
Flask
gherkin-official
h11
h2
hpack
hyperframe
idna
IMAPClient
importlib_metadata
iniconfig
itsdangerous
Jinja2
kaitaistruct
ldap3
Mako
MarkupSafe
mitmproxy
mitmproxy-macos
mitmproxy_rs
msgpack
mypy_extensions
outcome
packaging
parse
parse_type
pluggy
publicsuffix2
pyasn1
pyasn1_modules
pycparser
Pygments
pylsqpack
pyOpenSSL
pyotp
pyparsing
pyperclip
PySocks
pytest
pytest-bdd
pytest-html
pytest-metadata
pytest-rerunfailures
pytest-xdist
python-dotenv
pyzmail36
redis
requests
ruamel.yaml
ruamel.yaml.clib
selenium
service-identity
six
sniffio
sortedcontainers
tornado
trio
trio-typing
trio-websocket
types-certifi
types-urllib3
typing_extensions
urllib3
urwid
wcwidth
websocket-client
Werkzeug
wsproto
zipp
zstandard
